nextflow.enable.dsl = 2

params {
    container = "yapp:latest"
    // container = "ghcr.io/fhcrc/yapp:latest"
}

profiles {
    standard {
        workDir = "work/"
        resume = true  // null for no resume
        singularity {
            autoMounts = true
            cacheDir = "singularity/"
        }
        params {
            output = "output-nf"
        }
        process {
            container = params.container
            executor = "local"
        }
        withLabel: c5d_4xlarge {
            // Meant to match the AWS Batch cd5.4xlarge which has 16 cpus and 
            // 32 GIB mem. For local execution cpus must be configured at the 
            // application and no more than 2 forks at a time.
            maxForks = 2
            memory = "32 GB"
        }
        executor{
            queueSize = 16
        }
    }
    uw_batch {
        workDir = "s3://molmicro-data/nextflow-workdir/yapp"
        params {
            output = "output-batch"
        }
        process {
            container = params.container
            scratch = "/docker_scratch"
            queue = "molmicro-queue"
            executor = "awsbatch"

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            // https://aws.amazon.com/ec2/instance-types/c5/
            withLabel: c5d_4xlarge {
                cpus = 16
                memory = "32 GB"
            }
        }
        aws {
            region = "us-west-2"
            batch {
                volumes = "/docker_scratch"
                cliPath = "/home/ec2-user/miniconda/bin/aws"
        }
      }
    }
}
