nextflow.enable.dsl = 2

profiles {
    standard {
        workDir = 'work/'
        resume = true  // null for no resume
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity/'
        }
        docker {
            enabled = false
        }
        params {
            output = 'output-nf'
        }
        process {
            executor = 'local'
        }
        withLabel: c5d_2xlarge {
            // Meant to match the AWS Batch cd5.9xlarge which has 32 cpus. For
            // local execution cpus must be configured at the application and
            // no more than 2 forks at a time.
            maxForks = 2
        }
        executor{
            queueSize = 16
        }
    }
}
